.navbar {
  background-color: rgb(87, 62, 96);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
.navbar-left img {
height: 35px;
}
*/
.navbar-right {
  list-style: none;
  display: flex;
  gap: 2.3em;
  margin: 0;
  padding: 0;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right a:hover {
  color: #bba9d9;
}

.corner {

}